body {
  background-color: #f0f0f0;
}

.container {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
}

.btn {
  width: 100%;
}

.btn i {
  margin-left: 10px;
}

textarea {
  height: 100px;
}
